pipeline/pipeline_Incremtl_Load_Partitions.json
{
	"name": "pipeline_Incremtl_Load_Partitions",
	"properties": {
		"activities": [
			{
				"name": "Lookup_Fetch_Last_InsertedDate",
				"description": "Lookup to fetch the last fetched Date of the table.",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "SELECT TableName,WatermarkValue from dbo.watermarktable",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SqlServerDataset",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "Copy_Incremantal_Fact_data",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Lookup_Fetch_Last_InsertedDate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": {
							"value": "select * from [dbo].[FactInternetSales] where OrderDate >='@{activity('Lookup_Fetch_Last_InsertedDate').output.firstRow.WatermarkValue}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "SqlServerDataset_Table",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DelimitedTextDataset",
						"type": "DatasetReference",
						"parameters": {
							"DynamicTableName": {
								"value": "@activity('Lookup_Fetch_Last_InsertedDate').output.firstRow.TableName",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Lookup_NewWatermark",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Copy_Incremantal_Fact_data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "select MAX(OrderDate) as NewWatermarkvalue from [dbo].[FactInternetSales]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SqlServerDataset",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "StoredProc_UpdateFlag_Watermark",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Lookup_NewWatermark",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[usp_update_watermark]",
					"storedProcedureParameters": {
						"LastModifiedtime": {
							"value": {
								"value": "@activity('Lookup_NewWatermark').output.firstRow.NewWatermarkvalue",
								"type": "Expression"
							},
							"type": "Datetime"
						},
						"TableName": {
							"value": {
								"value": "@activity('Lookup_Fetch_Last_InsertedDate').output.firstRow.TableName",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "SqlServerLinkedService",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Web_Send_Success_Email",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "StoredProc_UpdateFlag_Watermark",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://prod-19.northeurope.logic.azure.com:443/workflows/3726dcbf645d450583a9a9bda4a587a7/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=CiGYBPTcJ11s9AbOSNAC-CnzS5CVeCqpFSYm40L3BYM",
					"method": "POST",
					"headers": {
						"Content-Type": "application/json"
					},
					"body": {
						"value": "{\n   \"DataFactoryName\": \"@{pipeline().DataFactory}\",\n   \"PipelineName\": \"@{pipeline().Pipeline}\",\n   \"Subject\": \"SUCCESS in the @{pipeline().Pipeline}-pipeline\",\n   \"ErrorMessage\": \"Everything is okey-dokey!\",\n   \"EmailTo\": \"amardeepkohli1988@gmail.com;princelittle123@gmail.com\"\n}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Execute_Pipeline_Notification",
				"description": "we'll call this pipeline from the main pipeline every time we want to send a notification and we pass along the desired parameters to construct the JSON body",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Lookup_Fetch_Last_InsertedDate",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "SendNotification",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"EmailTo": "amardeepkohli1988@gmail.com;princelittle123@gmail.com",
						"Subject": {
							"value": "An error has occured in the @{pipeline().Pipeline}-pipeline",
							"type": "Expression"
						},
						"ErrorMessage": {
							"value": "The ADF pipeline has crashed! Please check the logs. @{activity('Lookup_Fetch_Last_InsertedDate').Error.Message}",
							"type": "Expression"
						},
						"Activity": {
							"value": "Lookup_Fetch_Last_InsertedDate",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Execute_Pipeline_CopyData_Error",
				"description": "we'll call this pipeline from the main pipeline every time we want to send a notification and we pass along the desired parameters to construct the JSON body",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Copy_Incremantal_Fact_data",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "SendNotification",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"EmailTo": "amardeepkohli1988@gmail.com;princelittle123@gmail.com",
						"Subject": {
							"value": "An error has occured in the @{pipeline().Pipeline}-pipeline",
							"type": "Expression"
						},
						"ErrorMessage": {
							"value": "The ADF pipeline has crashed! Please check the logs. @{activity('Copy_Incremantal_Fact_data').Error.Message}",
							"type": "Expression"
						},
						"Activity": {
							"value": "Copy_Incremantal_Fact_data",
							"type": "Expression"
						}
					}
				}
			}
		],
		"annotations": []
	}
}